:root {
    --primary-darkmode: #1A1626;
    
    --primary-lightmode: #e8eaf6;
    --second-lightmode: #6E5FDE;
    --paragraph-color--lightmode: #727275;
}


/* Set Color CLass */
.light {
    background-color: var(--primary-lightmode) !important;
    color: #6E5FDE !important;
}
.second--Light {
    background-color: var(--second-lightmode);
    color: white;
}
.text--light  {
    color: white !important;
}
.text--gray {
    color: var(--paragraph-color--lightmode) !important;
}
.border--light {
    border-color: white;
}
.input--light {
    background-color: white;
    border-color: #6E5FDE !important;
}